apiVersion: datasciencecluster.opendatahub.io/v1
kind: DataScienceCluster
metadata:
  name: default-dsc
spec:
  components:
    dashboard:
      managementState: Managed
    kserve:
      managementState: Managed
{% if rhoai.kserve_mode | default('raw') == 'serverless' %}
      serving:
        managementState: Managed
        name: knative-serving
        ingressGateway:
          certificate:
            type: SelfSigned
{% else %}
      rawDeploymentServiceConfig: Headless
{% endif %}
    workbenches:
      managementState: Managed
    modelmeshserving:
      managementState: Managed
    datasciencepipelines:
      managementState: Managed
    codeflare:
      managementState: Managed
    ray:
      managementState: Managed
    kueue:
      managementState: Managed
    trustyai:
      managementState: Managed
    modelregistry:
      managementState: Managed
      registriesNamespace: rhoai-model-registries
    trainingoperator:
      managementState: Removed
